In [160]:
import pandas as pd

Dataset Summary - Classification:

This data is a set of customers for a car company. The company wants to classify customers into predetermined groups (Segmentation) based off of their history, and they want to classify these customers for marketing purposes.

Here's a description of all variables and their meaning:

ID: ID <br>
Gender: 1 for male, 0 for Female<br>
Ever_Married: 1 for Yes, 0 for No<br>
Age: Age<br>
Graduated: 1 for Yes, 0 for No<br>
Profession: Kept as is<br>
Work_Experience: Numerical<br>
Spending_Score: 2 for low, 1 for high, 0 for average<br>
Family_Size: Numerical<br>
Segmentation: A through D, 0 through 3<br>

In [161]:
scores_te = pd.read_csv("datasets_training\classification_final_toml.csv", delimiter=',')
scores_te = scores_te.drop("Unnamed: 0", axis=1) #Data needed to be dropped, dropped from original file anyway

scores_te.head(10)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,1,0,22,0,Healthcare,1.0,2,4.0,3,3
1,466315,0,1,67,1,Engineer,1.0,2,1.0,5,1
2,461735,1,1,67,1,Lawyer,0.0,1,2.0,5,1
3,461319,1,1,56,0,Artist,0.0,0,2.0,5,2
4,460156,1,0,32,1,Healthcare,1.0,2,3.0,5,2
5,464347,0,0,33,1,Healthcare,1.0,2,3.0,5,3
6,465015,0,1,61,1,Engineer,0.0,2,3.0,6,3
7,465176,0,1,55,1,Artist,1.0,0,4.0,5,2
8,464041,0,0,26,1,Engineer,1.0,2,3.0,5,0
9,464942,1,0,19,0,Healthcare,4.0,2,4.0,3,3

In [162]:
#Training imports (some may not be used)

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, f1_score
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

Splitting the dataset:

In [163]:
y = scores_te["Segmentation"]
scores_te_2 = scores_te.drop("Profession", axis=1)
x = scores_te_2.drop("Segmentation", axis=1)
x.head(10)

#Train/Split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [164]:

scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)

# Logistic Regression model - RandomForest proved similar
model = RandomForestClassifier(random_state=42, class_weight='balanced')
model.fit(x_train, y_train)


y_pred = model.predict(x_test)


accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

print("Summary:\n-------------")
print(classification_report(y_test, y_pred))

#.48 is pretty bad, check data set

Accuracy: 0.47861965491372843
Summary:
-------------
              precision    recall  f1-score   support

           0       0.40      0.39      0.40       316
           1       0.38      0.31      0.34       312
           2       0.50      0.52      0.51       349
           3       0.58      0.67      0.62       356

    accuracy                           0.48      1333
   macro avg       0.47      0.47      0.47      1333
weighted avg       0.47      0.48      0.47      1333

Algorithm Choices/Choice Made:

Ways to evalulate the model:

In [165]:
#Eval
conf_matrix = confusion_matrix(y_test, y_pred)
TPR = conf_matrix[1, 1] / (conf_matrix[1, 0] + conf_matrix[1, 1]) #Regular TPR calculation
print("TPR:", TPR)
FPR = conf_matrix[0, 1] / (conf_matrix[0, 0] + conf_matrix[0, 1])
print("FPR:", FPR)
f1 = f1_score(y_test, y_pred, average='weighted')
print("F1 Score:", f1)

TPR: 0.5714285714285714
FPR: 0.2914285714285714
F1 Score: 0.47229071056628763

Summary: