Dataset Summary - Regression:

This dataset is a set of test scores from students, along with various facts about the students that were collected. The goal of this set is to predict the scores of the students (In this limiting case, the Math Scores) with a regression-based algorithm from scikit. 

Data Explanation:
Gender: 1 for male, 0 for female
EthnicGroup:

In [33]:
import pandas as pd
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor

In [34]:
scores_te = pd.read_csv("""datasets_training/regressiondataset_final_toml.csv""", delimiter=',')
scores_te = scores_te.drop("Unnamed: 0", axis=1) #Data needed to be dropped, dropped from original file anyway
scores_te.head(10)

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,1,3,1,1,2,2,1,4.0,1,1,87,93,91
1,1,2,4,1,1,1,2,1,0.0,1,0,76,78,75
2,0,1,0,1,1,1,1,1,1.0,1,0,73,84,79
3,0,1,4,1,0,3,0,0,1.0,0,0,85,93,89
4,1,1,4,0,1,1,2,1,1.0,0,2,41,43,39
5,1,3,2,0,0,2,2,0,3.0,0,2,65,64,68
6,1,3,0,1,1,0,2,1,1.0,1,0,40,52,43
7,0,1,2,1,1,1,1,0,1.0,0,0,66,82,74
8,1,0,4,1,0,2,2,1,1.0,0,2,80,73,71
9,0,0,3,1,1,0,2,1,2.0,0,1,48,53,58

Splitting the dataset:

In [35]:


y = scores_te["MathScore"]



#drop1 = scores_te.drop("MathScore", axis=1)
#drop2 = drop1.drop("WritingScore", axis=1)
#drop3 = drop2.drop("MathScore", axis=1)

x = scores_te.drop("MathScore", axis=1)

scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.2, random_state=42) #as per part 3 example

model = RandomForestRegressor(random_state=42)  

model.fit(x_train, y_train)

y_pred = model.predict(x_test)

Algorithm Choices/Choice Made:

In [36]:
# Training the algorithm

#Testing the algorithm

Ways to evalulate the model:

In [37]:
#Eval

mse = mean_squared_error(y_test, y_pred)
print("mean squared error for the Math Score Algorithm:", mse)

rsquared = r2_score(y_test, y_pred)
print("R^2 for the Math Score Algorithm(accuracy metric):", rsquared)

mean squared error for the Math Score Algorithm: 32.55020379109631
R^2 for the Math Score Algorithm(accuracy metric): 0.8668088779530023

Summary: