In [20]:
import pandas as pd

In [21]:
examscores = pd.read_csv("datasets\exam_scores.csv", delimiter=',')
mktsegmentation = pd.read_csv("datasets\market_segmentation.csv", delimiter=',')
pvexam = examscores.head(10)
pvmkt = mktsegmentation.head(10)
print('\nFirst 10 lines, Exam Set:\n\n',pvexam,'\n\nFirst 10 lines, Market Segmentation Set:\n\n',pvmkt)

First 10 lines, Exam Set:

    Unnamed: 0  Gender EthnicGroup          ParentEduc     LunchType  \
0           0  female         NaN   bachelor's degree      standard
1           1  female     group C        some college      standard
2           2  female     group B     master's degree      standard
3           3    male     group A  associate's degree  free/reduced
4           4    male     group C        some college      standard
5           5  female     group B  associate's degree      standard
6           6  female     group B        some college      standard
7           7    male     group B        some college  free/reduced
8           8    male     group D         high school  free/reduced
9           9  female     group B         high school  free/reduced

    TestPrep ParentMaritalStatus PracticeSport IsFirstChild  NrSiblings  \
0       none             married     regularly          yes         3.0
1        NaN             married     sometimes          yes         0.0
2       none              single     sometimes          yes         4.0
3       none             married         never           no         1.0
4       none             married     sometimes          yes         0.0
5       none             married     regularly          yes         1.0
6  completed             widowed         never           no         1.0
7       none             married     sometimes          yes         1.0
8  completed              single     sometimes           no         3.0
9       none             married     regularly          yes         NaN

  TransportMeans WklyStudyHours  MathScore  ReadingScore  WritingScore
0     school_bus            < 5         71            71            74
1            NaN         5 - 10         69            90            88
2     school_bus            < 5         87            93            91
3            NaN         5 - 10         45            56            42
4     school_bus         5 - 10         76            78            75
5     school_bus         5 - 10         73            84            79
6        private         5 - 10         85            93            89
7        private           > 10         41            43            39
8        private           > 10         65            64            68
9        private            < 5         37            59            50

First 10 lines, Market Segmentation Set:

        ID  Gender Ever_Married  Age Graduated     Profession  Work_Experience  \
0  462809    Male           No   22        No     Healthcare              1.0
1  462643  Female          Yes   38       Yes       Engineer              NaN
2  466315  Female          Yes   67       Yes       Engineer              1.0
3  461735    Male          Yes   67       Yes         Lawyer              0.0
4  462669  Female          Yes   40       Yes  Entertainment              NaN
5  461319    Male          Yes   56        No         Artist              0.0
6  460156    Male           No   32       Yes     Healthcare              1.0
7  464347  Female           No   33       Yes     Healthcare              1.0
8  465015  Female          Yes   61       Yes       Engineer              0.0
9  465176  Female          Yes   55       Yes         Artist              1.0

  Spending_Score  Family_Size  Var_1 Segmentation
0            Low          4.0  Cat_4            D
1        Average          3.0  Cat_4            A
2            Low          1.0  Cat_6            B
3           High          2.0  Cat_6            B
4           High          6.0  Cat_6            A
5        Average          2.0  Cat_6            C
6            Low          3.0  Cat_6            C
7            Low          3.0  Cat_6            D
8            Low          3.0  Cat_7            D
9        Average          4.0  Cat_6            C